@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

main {
  background-color: white;
  z-index: 1;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.am-flex {
  display: flex;
}

.am-btn {
  padding-bottom: 20px;
}

.am-btn button {
  color: white;
  background-color: #0282F9;
  padding: 10px 50px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

header {
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
header .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main-header .logo img {
  width: 75px;
  display: inline-block;
}
header .main-header .menu {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
header .main-header .menu li {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}
header .main-header .menu li.current {
  border-bottom: 1px solid #0282F9;
  border-bottom-width: 5px;
}
header .main-header .menu li a {
  color: black;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
header .main-header .menu li a.current {
  color: #0282F9;
}

main {
  margin-top: 100px;
}
main .jumbotron {
  width: 100%;
  height: 400px;
  background-image: url(../img/jumbotron.jpg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container {
  width: 60%;
}
main .banner-img {
  background-color: #0282F9;
  position: relative;
  height: 70px;
}
main .banner-img img {
  width: 150px;
  position: absolute;
  bottom: 20px;
}
main .comics-content {
  padding: 20px 0;
}
main .comics-content .comics-text {
  width: calc(100% - 300px);
  padding-right: 20px;
}
main .comics-content .comics-text .banner-price {
  background-color: #55ba59;
  padding: 20px;
  margin: 20px 0;
  color: white;
}
main .comics-content .comics-text .banner-price .price-item {
  width: 70%;
}
main .comics-content .comics-text .banner-price .price-item .available {
  text-align: right;
}
main .comics-content .comics-text .banner-price .text-style-price {
  color: #bafd9c;
}
main .comics-content .adv {
  width: 300px;
}
main .comics-content .adv img {
  display: inline;
}

.content-main {
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.content-main .title-section {
  background-color: #0282F9;
  color: white;
  display: inline-block;
  padding: 7px 20px;
  position: relative;
  top: -20px;
}
.content-main .cards {
  display: flex;
  flex-wrap: wrap;
}
.content-main .cards .single-card {
  width: calc(16.6666666667% - 20px);
  margin: 10px 10px 30px 10px;
}
.content-main .cards .single-card .img-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  aspect-ratio: 1/1;
}
.content-main .cards .single-card .series-card {
  margin-top: 10px;
  font-size: 14px;
}

.buy-list {
  display: flex;
  justify-content: center;
  background-color: #0282F9;
  padding: 40px 0;
}
.buy-list .buy-img {
  width: 40px;
}
.buy-list img {
  display: inline-block;
}
.buy-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-list li {
  padding: 0px 25px;
}
.buy-list li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.buy-list li a .text {
  padding-left: 10px;
  font-size: 14px;
}

.am-flex {
  justify-content: space-between;
}

.footer-main {
  padding: 20px 0;
  background-image: url(../img/footer-bg.jpg);
  color: white;
  position: relative;
  z-index: -1;
}
.footer-main .col-left h3 {
  margin: 10px 0;
  text-transform: uppercase;
}
.footer-main .col-left .menu-footer {
  margin-right: 20px;
}
.footer-main .col-left li {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.footer-main .col-left li a {
  color: gray;
}
.footer-main .col-right {
  position: absolute;
  top: -40px;
  right: 50px;
}
.footer-main .col-right img {
  width: 350px;
}

.content-footer-bottom {
  align-items: center;
}

.footer-bottom {
  padding: 20px 0;
  background-color: #303030;
  color: white;
  position: relative;
  text-transform: uppercase;
}
.footer-bottom .btn-cta {
  color: white;
  border: 2px solid #0282F9;
  text-decoration: none;
  padding: 10px 20px;
}

.icons-social {
  display: flex;
  align-items: center;
}
.icons-social h3 {
  color: #0282F9;
}
.icons-social .follow-us {
  text-transform: uppercase;
  color: #303030;
  font-size: 18px;
  font-weight: bold;
  padding-right: 20px;
}
.icons-social ul {
  display: flex;
}
.icons-social ul li {
  margin: 0 10px;
}