// RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
main {
    background-color: white;
    z-index: 1;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style: none;

    a {
        text-decoration: none;
    }
}

// COMMONS
.container {
    width: 80%;
    margin: 0 auto;
}

.am-flex {
    display: flex;
}

.am-btn {
    padding-bottom: 20px;
}

.am-btn button {
    color: white;
    background-color: $brand_main_color;
    padding: 10px 50px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}