// SINGLE COMICS
.container {
    width: 60%;
}
// Thumb
.banner-img {
    background-color: $brand_main_color;
    position: relative;
    height: 70px;

    img {
        width: 150px;
        position: absolute;
        bottom: 20px;
    }
}

// Comics Content
.comics-content {
    padding: 20px 0;
    margin: 0 auto;

    .comics-text {
        width: calc(100% - 300px);
        padding-right: 20px;

        .banner-price {
            background-color: #55ba59;
            padding: 20px;
            margin: 20px 0;
            color: white;
            display: flex;

            .price-item {
                width: 70%;
                display: flex;
                justify-content: space-between;

                .available {
                    text-align: right;                        
                }
            }

            .check {
                width: 30%;
                text-align: center;
            }

            .text-style-price {
                color: #bafd9c;
            }
        }
    }

    .adv {
        width: 300px;

        img {
            display: inline;
        }
    }
}

// Comics Details
.comic-details {
    background-color: gray;

    .comics-details-content {
        width: 100%;
        display: flex;
        margin: 0 auto;

        h3 {
            padding: 20px 0;
        }

        .comics-details-text {
            width: 50%;
            font-size: 12px;
        }

        .color-blue {
            color: $brand_main_color;
        }
    }
}